/* --- FEEDBACK PAGE STYLES --- */
/* --- LINEAR PROGRESS --- */
.linear-progress {
    position: relative; 
    width: 100%; 
    height: 4px; 
    background: var(--md-sys-color-secondary-container);
    overflow: hidden; 
    border-radius: 2px; 
    margin-bottom: 24px;
}
.linear-progress .bar {
    position: absolute; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    width: 100%;
    background-color: var(--md-sys-color-primary);
    transform-origin: left center; 
    animation: linear-indeterminate 2s infinite linear;
}

@keyframes linear-indeterminate {
    0% { transform: translateX(0) scaleX(0); }
    40% { transform: translateX(0) scaleX(0.4); }
    100% { transform: translateX(100%) scaleX(0.5); }
}
